.my-header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWVhbHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* object-fit: cover; */
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.my-header h1,h2{
    color:white;
}
.input-button{
    width: 60%;
    margin-top: 30px;
}